
h1{
    text-transform: uppercase;
    margin-bottom: 50px;
    color:aqua;
}
h2{
    color:aqua;
}
body{
    background-image: url('C:\Users\Dell\Desktop\FSD_BACKEND_ITA\Day4\frontend\src\components\lp.avif');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.nav{
    display:flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    position: fixed;
    margin-top: 80px;
    position: fixed;
}
button{
    font-size: medium;
    border-radius: 10%;
    padding: 10px;
     transition: 0.2s;
}
button:hover{
    padding:12px;

}